<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Posts</h4>
                        <p class="card-category"> List of post</p>
                    </div>

                    <div class="col-md-4 col-sm-2">
                        <a class="btn btn-danger" [routerLink]="['/post']">
                            <i class="material-icons">note_add</i>
                            New Post
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        S/N
                                    </th>
                                    <th>
                                        Title
                                    </th>
                                </thead>
                                <tbody *ngFor="let post of posts?.results; let i = index" >
                                    <tr>
                                        <td>
                                            {{((page-1)*10)+i+1}}
                                        </td>
                                        <td>
                                            {{post?.title}}
                                        </td>
                                        <td class="td-actions text-right">
                                            <button 
                                                mat-raised-button 
                                                type="button" 
                                                matTooltip="Edit Task" 
                                                [matTooltipPosition]="'above'" 
                                                (click)="edit(post)"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class='row bottom-btn'>
                            <div class="col-md-4 col-sm-2">
                                <button class="btn btn-danger" [disabled]="!posts?.previous" (click)="getPostList(posts.previous)">Previous</button>
                            </div>
                            <div class="col-md-4 col-sm-2">
                                <button class="btn btn-danger" [disabled]="!posts?.next" (click)="getPostList(posts.next)">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  